.button {
    -fx-background-color: blue;
    -fx-text-fill: white;
    -fx-border-radius: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
    -fx-ripper-fill: lightblue;
}

.button:hover {
    -fx-background-color: #b1b1f3;
    -fx-text-fill: blue;
}

.button:pressed:hover {
    -fx-background-color: white;
}

#myStackPane {
    -fx-background-color: blue;
}