.label {
    -fx-text-fill: blue;
}

#signupBtn {
    -fx-background-color: blue;
    -fx-text-fill: #ffffff;
    -fx-text-alignment: center;
    -fx-font-size: 15px;
    -fx-border-radius: 100 100 100 100;
    -fx-border-width: 2;
    -fx-background-radius: 100 100 100 100;
    -fx-ripper-fill: lightblue;
}

#signupBtn:pressed:hover {
    -fx-scale-y: 0.95;
    -fx-scale-x: 0.95;
    -fx-border-color: darkblue;
}

.text-field {
    -fx-border-radius: 100 100 100 100;
    -fx-background-radius: 100, 100, 100, 100;
}

#loginBtn {
    -fx-text-fill: blue;
    -fx-background-color: transparent;
    -fx-border-radius: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
}

#errorLbl {
    -fx-text-fill: white;
    -fx-background-color: red;
    -fx-border-radius: 100 100 100 100;
    -fx-background-radius: 100 100 100 100;
}